{% extends "base.html" %}
{% load static %}

{% block extra_head_css %}
    <link rel="stylesheet" href="{% static 'albumz_app/styles.css' %}">
{% endblock extra_head_css %}

{% block navbar_brand %}
    {% include "albumz_app/includes/navbar_brand.html" %}
{% endblock %}

{% block navbar_actions %}
  <a class="nav-link" href="{% url 'albumz:collection' %}">My Collection</a>
  <a class="nav-link" href="{% url 'albumz:wishlist' %}">Wishlist</a>
  {% include "registration/includes/logout_form.html" %}
{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="footer-content">
      {% block footer-content %}{% endblock footer-content %}
    </div>
  </footer>
{% endblock footer %}
