{% extends "albumz_app/base_albumz.html" %}

{% block title %}
    <h1 class="page-title">Hello, {{ user.username }}, here are the albums in your collection!</h1>
{% endblock title %}

{% block content %}
    {% if albums_in_collection %}
        {% include "albumz_app/includes/albumz_collection_table.html" with albums=albums_in_collection %}
    {% else %}
        <p>No albums in your collection yet.</p>
    {% endif %}
{% endblock content %}

{% block footer-content %}
    <a href="{% url 'albumz:add_collection' %}">Add Album</a>
{% endblock footer-content %}