{% extends "albumz_app/base_albumz.html" %}

{% block title %}
    <h1>{{ album.title }}</h1>
{% endblock title %}

{% block content %}
    <ul>
        <li>Artist: {{ album.artist }}</li>
        <li>Genre: {{ album.get_genre_display }}</li>
        <li>Publication date: {{ album.pub_date }}</li>
        <li>My rating: {{ album.get_user_rating_display }}</li>
        <li>Added: {{ album.add_date }}</li>
    </ul>
{% endblock content %}

{% block footer-content %}
    <a href="{% url 'albumz:delete' album.id %}">Delete</a>
{% endblock footer-content %}
