{% extends "albumz_app/base_albumz.html" %}

{% block title %}
    <h1 class="page-title">Hello, {{ user.username }}, here are the albums on your wishlist!</h1>
{% endblock title %}

{% block content %}
    {% if albums_on_wishlist %}
        {% include "albumz_app/includes/albumz_table.html" with albums=albums_on_wishlist %}
    {% else %}
        <p>No albums on your wishlist yet.</p>
    {% endif %}
{% endblock content %}

{% block footer-content %}
    <a href="{% url 'albumz:add_wishlist' %}">Add Album</a>
{% endblock footer-content %}