<div class="centered-table-container">
    <div class="table-wrapper">
        <table class="table table-hover my-table">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Add date</th>
                    <th>My rating</th>
                    <th class="form">{% include "albumz_app/includes/albumz_search_bar.html" %}</th>
                </tr>
            </thead>
        </table>
        <div class="scrollable-tbody">
            <table class="table table-hover my-table">
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td>{{ album.title }}</td>
                            <td>{{ album.artist }}</td>
                            <td>{{ album.add_date }}</td>
                            <td>{{ album.get_user_rating_display }}</td>
                            <td><a href="{% url 'albumz:detail' album.id %}">See details</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>